// Google fonts import
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Biryani:400,700');

// Font Variables
$oswald: 'Oswald', sans-serif;

// Mixins
@mixin section-sizing {
  height: 100vh;
  background-position: center;
}

@mixin title {
  color: white;
  font-family: $oswald;
  font-size: 4em;
  border-bottom: 1px solid white;
  width: auto;
  letter-spacing: 7px;
}

.content-wrap {
  .section-title {@include title}
  .intro-section-wrap {
    @include section-sizing;
    background: url(../../images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-section-wrap {
    @include section-sizing;
    background: url(../../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .about-section-container {
      height: 100vh;
      .section-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 70vh;
        margin-top: 30px;
      }
    }
    .about-section-container img {
      height: 200px;
      width: 200px;
      text-align: center;
      opacity: .7;
    }
  }

  .experience-section-wrap {
    @include section-sizing;
    background: url(../../images/experience.jpg) fixed center no-repeat;
    background-size: 100%;
    .experience-section-container {
      .icon-wrap {
        margin-top: 20px;
        .icon {
          text-align: center;
          .exp-icon:hover{
            -webkit-filter: none; /* Safari 6.0 - 9.0 */
            filter: none;
          }
          .exp-icon {
            width: 50px;
            height: 50px;
            -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
            filter: grayscale(50%);
          }
        }
      }
    }
  }

  .projects-section-wrap {
    @include section-sizing;
    background: url(../../images/projects6.jpg) fixed center no-repeat;
    background-size: 100% 100%;
    filter: grayscale(100%);
    .projects-section-container {
      height: 100vh;
      .section-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 70vh;
        margin-top: 30px;
      }
    }
    .projects-section-container img {
      height: 200px;
      width: 200px;
      text-align: center;
      opacity: .7;
    }
  }

  .contact-section-wrap {
    @include section-sizing;
    background: url(../../images/contact.jpg) fixed center no-repeat;
    background-size: 100% 100%;
    filter: grayscale(100%);
    .contact-section-container {
      height: 100vh;
      .section-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 70vh;
        margin-top: 30px;
      }
    }
    .contact-section-container img {
      height: 200px;
      width: 200px;
      text-align: center;
      opacity: .7;
    }
  }
}
