// Google fonts import
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Biryani:400,700');

// Font Variables
$oswald: 'Oswald', sans-serif;

// Mixins
@mixin section-sizing {
  height: 100vh;
  background-position: center;
}

@mixin background-params{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@mixin title {
  color: white;
  font-family: $oswald;
  font-size: 2.5em;
  border-bottom: 1px solid white;
  width: auto;
  letter-spacing: 7px;
}

.content-wrap {
  .section-title {
    font-size: 12px;
    @include title;
  }
  .title-sub{
    color: white;
    padding-top: 10px;
  }
  .intro-section-wrap {
    @include section-sizing;
    background: url(../../images/background2.jpg) ;
    @include background-params;
  }
  .about-section-wrap {
    @include section-sizing;
    background: url(../../images/about.jpg) ;
    @include background-params;

    .about-section-container {
      height: 100vh;
      .section-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 70vh;
        margin-top: 30px;
      }
    }
    .about-section-container img {
      height: 200px;
      width: 200px;
      text-align: center;
      opacity: .7;
    }
  }

  .experience-section-wrap {
    @include section-sizing;
    background: url(../../images/experience.jpg) center no-repeat;
    background-size: 100%;
    .experience-section-container {
      .icon-wrap {
        margin-top: 20px;
        .icon {
          text-align: center;
          .exp-icon:hover{
            -webkit-filter: none; /* Safari 6.0 - 9.0 */
            filter: none;
          }
          .exp-icon {
            width: 50px;
            height: 50px;
            -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
            filter: grayscale(50%);
          }
        }
      }
    }
  }

  .projects-section-wrap {
    background: url(../../images/projects6.jpg) ;
    @include background-params;
    .projects-section-container {
      .project-container{
        img{
          height: 100px;
        }
        .card-title{
          color: #eee;
          text-decoration: underline;
        }
      }
    }
  }

  .contact-section-wrap {
    @include section-sizing;
    background: url(../../images/contact.jpg) ;
    // background-size: 100% 100%;
    @include background-params;
  }
}
